table {
  width: 80%;
  margin: auto;
}
.mat-column-Moneda {
  width: 25%;
  text-align: left;
}
.mat-column-Precio {
  width: 25%;
  text-align: center;
}
.mat-column-Volumen {
  width: 25%;
  text-align: left;
}
.mat-column-Acciones {
  width: 25%;
  text-align: left;
}
