<div class="center">
  <h2>Soporte</h2>
  <form>
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input
        matInput
        autocomplete="off"
        [formControl]="nombreFormControl"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error *ngIf="nombreFormControl.hasError('required')">
        Escriba un nombre
      </mat-error> </mat-form-field
    ><br />
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Email</mat-label>
      <input
        matInput
        type="email"
        autocomplete="off"
        [formControl]="emailFormControl"
        [errorStateMatcher]="matcher"
        [value]="correo"
      />
      <mat-error
        *ngIf="
          emailFormControl.hasError('email') &&
          !emailFormControl.hasError('required')
        "
      >
        Entre un formato de Email
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        El Email es <strong>requerido</strong>
      </mat-error> </mat-form-field
    ><br />
    <mat-form-field appearance="fill">
      <mat-label>mensaje</mat-label>
      <input
        matInput
        autocomplete="off"
        [formControl]="msgFormControl"
        [errorStateMatcher]="matcher"
        required
      />
      <mat-error type="password" *ngIf="msgFormControl.hasError('required')">
        Escriba su mensaje
      </mat-error>
      <mat-error
        *ngIf="
          msgFormControl.hasError('minlength') &&
          !msgFormControl.hasError('required')
        "
      >
        Debe escribir 15 o mas caracteres
      </mat-error> </mat-form-field
    ><br />

    <button
      [disabled]="nombreFormControl.invalid || emailFormControl.invalid"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="limpiar()"
    >
      Submit
    </button>
  </form>
</div>
