.body {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  background-color: rgb(223, 215, 215);
}

.login {
  width: 100%;
  max-width: 330px;
  text-align: center;
}
.ancho {
  width: 90%;
}
.btn-login {
  width: 90%;
  font-size: 1.2rem;
  height: 50px;
}
.spinner {
  margin: 0 auto;
}
