<div class="alls">
  <div class="center">
    <h2>Escríbanos</h2>
    <!-- Selector de opciones -->
    <form [formGroup]="formulario">
      <mat-form-field appearance="fill">
        <mat-label>Escoja una categoría</mat-label>
        <mat-select formControlName="opciones" placeholder="Select">
          <mat-option
            #campoOpciones
            *ngFor="let item of opciones; let i = index"
            [value]="item"
          >
            {{ opciones[i] }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formulario.controls.opciones.hasError('required')">
          Debe escoger una opción
        </mat-error>
      </mat-form-field>
      <!-- Input de nombre completo -->
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input
          autocomplete="off"
          #nombreCompleto
          matInput
          placeholder="Nombre completo"
          formControlName="nombre"
        />
        <mat-error *ngIf="formulario.controls.nombre.hasError('minlength')">
          Debe tener más de 3 caracteres
        </mat-error>
        <mat-error *ngIf="formulario.controls.nombre.hasError('required')">
          El campo es<strong>requerido</strong>
        </mat-error>
      </mat-form-field>
      <!-- <h4 *ngIf="mensaje">{{ mensaje }}</h4> -->

      <!-- Input de Correo Electrónico -->

      <mat-form-field appearance="fill">
        <mat-label>Correo</mat-label>
        <input
          autocomplete="off"
          matInput
          placeholder="Correo"
          formControlName="correo"
        />
        <mat-error
          *ngIf="
            formulario.controls.correo.hasError('email') &&
            !formulario.controls.correo.hasError('required')
          "
        >
          Debe tener formato de Email
        </mat-error>
        <mat-error *ngIf="formulario.controls.correo.hasError('required')">
          El correo es<strong>requerido</strong>
        </mat-error>
      </mat-form-field>

      <!-- Input de mensaje -->

      <mat-form-field appearance="fill">
        <mat-label>Mensaje</mat-label>
        <textarea
          autocomplete="off"
          matInput
          placeholder="Escriba su mensaje"
          formControlName="mensaje"
        ></textarea>
      </mat-form-field>

      <button
        [disabled]="formulario.invalid"
        mat-raised-button
        color="accent"
        (click)="limpiar()"
      >
        Enviar
      </button>
    </form>
  </div>
</div>
