<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="/"
  >
    <mat-icon>home</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button label="Click" routerLink="/calculadora">Listado</button>
  <button mat-button label="Click" routerLink="/contact">Contacto</button>

  <span class="spacer"></span>
  <button mat-button label="Click" routerLink="/support">
    Soporte a Clientes
  </button>
</mat-toolbar>
<router-outlet></router-outlet>
