.example-card {
  max-width: 300px;
}

.example-header-image {
  background-image: url("https://static.coinstats.app/coins/EthereumOCjgD.png");
  background-size: cover;
}
mat-list-item {
  background: rgba(0, 139, 139, 0.7);
  font-weight: 600;
  border: 1px gray solid;
  margin: 2px;
}

mat-card {
  left: 40%;
  transition: box-shadow 580ms cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  position: relative;
  background-color: rgba(122, 211, 221, 0.303);
  border-radius: 4px;
  flex-direction: column;
  align-items: center;
}
