<div class="container">
  <h2>Datos sobre: {{ monedaCompleta?.name }}</h2>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar>
        <img
          style="width: 70%; margin: 0px 0px 0px 5px"
          mat-card-image
          alt="Coin Icon"
          [src]="monedaCompleta?.icon"
        />
      </div>
      <mat-card-title>{{ monedaCompleta?.id | titlecase }}</mat-card-title>
    </mat-card-header>
    <img
      style="width: 70%"
      mat-card-image
      alt="Coin Icon"
      [src]="monedaCompleta?.icon"
    />
    <mat-card-content>
      <mat-list role="list">
        <mat-list-item role="listitem"
          >Price (USD): {{ monedaCompleta?.price | number: "1.2-2" }}
        </mat-list-item>
      </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="" mat-button>HOME</button>
      <button routerLink="/calculadora" mat-button>LISTADO</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-masdetalles [moneda]="monedaCompleta"></app-masdetalles>
